<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <ul class="list-inline">
      <li ng-show="site.author.github">
        <a href="https://github.com/{{ site.author.github }}" class="zocial github icon" target="_blank">GitHub</a>
      </li>
      <li ng-show="site.author.twitter">
        <a href="https://twitter.com/{{ site.author.twitter }}" class="zocial twitter icon" target="_blank">Twitter</a>
      </li>
      <li ng-show="site.author.facebook">
        <a href="http://www.facebook.com/{{ site.author.facebook }}" class="zocial facebook icon" target="_blank">Facebook</a>
      </li>
      <!--<li>
        <a href="{{ page.category | category_link }}{{ site.JB.atom_path }}" class="zocial rss icon"></a>
      </li>
      <li>
        <a href="{{ site.JB.atom_path }}" class="zocial rss icon"></a>
      </li>-->
    </ul>
    &copy; {{ site.author.name }} All rights reserved.
  </div>
</footer>