<div *ngIf="site">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarSupportedContent"
        [attr.aria-expanded]="!isNavbarCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isNavbarCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngFor="let nav of site.navs">
            <a class="nav-link" [routerLink]="nav.url">{{ nav.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
